* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Source Code Pro', monospace;
}

svg {
  width: 90vmin;
  height: 90vmin;
}

path {
  transition: d 1s ease, fill 1s ease 0.5s;
  }

p {
  color: #1b1a16;
  align-self: flex-start;
}
